mgba-game {
  display: block;
  --controls-scale: min(13vw, 80px);
  --half-width-control: 47vw;
}



#canvas.disabled {
  display: none;
}

mgba-game .placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mgba-game .button-container {
  position: fixed;
  top: 0;
  /* TODO what does left and right 0 do? */
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 1fr auto auto auto;
  height: calc(100% - env(safe-area-inset-bottom));

  z-index: 5;
  opacity: 0.7;
  font-family: sans-serif;

  /* TODO consider using padding-top for the canvas */
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
}

mgba-game .button {
  background-color: white;
  color: black;
  border-radius: calc(0.2*var(--controls-scale));
}

mgba-game .shoulder-row {
  display: flex;
  justify-content: space-between;
}


mgba-game .controls-row {
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

/* TODO implement pressed state for dpad */
mgba-game .dpad {
  height: 156px;
  width:156px;

  display: grid;
  grid-template-columns: auto auto auto;
}
mgba-game .dpad > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
}
mgba-game .dpad .up-left {
  border-top-left-radius: var(--dpad-border-radius);
}
mgba-game .dpad .up-right {
  border-top-right-radius: var(--dpad-border-radius);
}
mgba-game .dpad .down-right {
  border-bottom-right-radius: var(--dpad-border-radius);
}
mgba-game .dpad .down-left {
  border-bottom-left-radius: var(--dpad-border-radius);
}

mgba-game .ab-container {
  display: grid;
  grid-template-columns: auto auto;
  height: var(--half-width-control);
  width: var(--half-width-control);
}
mgba-game .ab-container > div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


mgba-game .menu-row {
  /*display: flex;
  justify-content: space-between;*/
  display: grid;
  grid-template-columns: 1fr auto;
}
mgba-game .menu::before {
  content: 'MENU';
}
mgba-game .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
mgba-game .select-start-container {
  width: var(--half-width-control);
  display: flex;
}

mgba-game .select,
mgba-game .start,
mgba-game .menu {
  width: calc(2*var(--controls-scale));
  height: calc(var(--controls-scale));
}


/* this is intended for mobile devices */
@media (min-width: 481px) {
  mgba-game {
    --controls-scale: min(75px, 15vh);
    --half-width-control: calc(3*var(--controls-scale));
  }
  /*#canvas {
    height: 100vh;
  }*/
}

@media (min-aspect-ratio: 1/1) { /* widescreen/landscape */
  /* shrink the canvas towards the middle to not overlay with the controls */
  /*#button-container::before {
    content: ' ';
    display: block;
  }*/
  mgba-game .button-container {
    /* for some reason safe-area-inset-top is always zero on ios.
     * this makes the L and R buttons get chopped off by the top corners. */
    padding-top: env(safe-area-inset-bottom);
    padding-left: 0;
    padding-right: 0;
    height: calc(100% - 2 * env(safe-area-inset-bottom));
    width: 100%;
  }
  #canvas-container {
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-columns: var(--half-width-control) auto var(--half-width-control);
    width: 100vw;
    /*display: flex;*/
    z-index: -1; /* this makes the buttons pressable */
  }
  #canvas {
    width: 100%;
    max-height: 100vh;
  }

  mgba-game .ab-container {
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    grid-gap: 6px;
  }

  mgba-game .ab-container > div.ab-placeholder {
    display: none;
  }
}
